.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    transform: scale(1.05);
}

.select-container {
    margin-top: 10px;
}

.select-dropdown {
    width: 50px;
    padding: 10px;
    margin-left: 10px;
    background-color: aqua;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
}
.select-dropdown:hover {
    background-color: rgb(5, 238, 238);
}

.pagination-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.prev-button {
    margin-right: 20px;
    background-color: aqua;
    color: white;
}
.next-button {
    background-color: aqua;
    color: white;
}
.filters-button {
    margin-left: 20px;
    background-color: aqua;
    color: white;
}
